*{
    box-sizing: border-box;
}
.container{
    height: 400px;
    border: 2px solid tomato;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    gap: 10px;
    flex-flow: wrap row; /* --> It is combination of flex-direction and flex-wrap */
    /* justify-content: space-around; /* --> justify-content allows us to align item on main axis(left->right)/horizontlly  */
    /* align-items: center; -->align-items by default is streach and it allow us to align item on cross axis(top->bottom)/vertically */
    /* align-content: space-evenly; */
    justify-content: center;
    align-items: end;

}
.box {
    border: 2px solid darkcyan;
    /* margin: 10px 5px; */
    width: 100px;
}
#box-1{
    /* order: 1;
    flex-grow: 1;
    flex-shrink: 2; */
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#box-3{ 
    flex-grow: 2;
}
#box-4{
    flex-shrink: 4;
}

*{
    box-sizing: border-box;
}
.container{
    padding: 10px;
    border: 2px solid green;
    background-color: aqua;
    height: 500px;
    display: grid;
    justify-content: center;
    /* align-content: end; */
    /* align-items: center; */
    align-self: center;

}
.container div{
    background-color: #f1f1f1;
    padding: 10px;
    /* width: 100px; */
    border: 2px solid black;
    width: 100px;
}