@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,900;1,6..96,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bodoni Moda', 'serif' ;
    font-size: 1.2rem;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #041308, #0b3317);

}

.left-text{
    flex-basis: 30%;
}

.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.subheading{
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}
.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}
.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222; /* This is two property create overlay on background image*/
    background-blend-mode: difference ;
    transition: all 1s ease-in-out;
}
.box:hover{
    /* background-color: white; */
    background-position: center;
    box-shadow: 0 0 4p #fff;

}
/* below property is used to span row but instead we use a utility class so we can use it many times */
/* #box-1{
    grid-row: span 2;
} */

.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}

/* Media queries for width less than 1024px */

@media screen and (max-width: 1000px){
    .container {
        flex-direction: column;
    }
    .left-text{
        padding: 20px;
    }
    .gallery{
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width:500px){
    .container{
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    .left-text{
        padding: 20px;
    }
    .gallery{
        width: 100%;
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);

    }
    .mediarow1{
        grid-row: span 1;
    }
    .mediacol1{
        grid-column: span 1;
    }
    .mediarow2{
        grid-row: span 2;
    }
    .mediacol2{
        grid-column: span 2;
    }
}